Package: barun
Version: 0.99
Section: x11
Priority: extra
Architecture: all
Depends: bash (>= 4), x-terminal-emulator, xdotool, xttitle
Suggests: ssh-askpass
Conflicts: rrun
Maintainer: Reuben Peeris <reuben@reubenpeeris.com>
Description: An X11 application launcher based on bash.
